- name: Set vars and imbude bindpoint
  vars:
    zfs_scope: "{{imbude_bindpoints_volume.bindpoint.scope | default(service_imbude_defaults.network_bindpoints.defaults.scope)}}"
    zfs_target_service_prefix: "{{imbude_bindpoints_service.service_name if zfs_scope != 'stack' else 'stack_global'}}"
    zfs_target_prefix: "{{stack_name~'/'~zfs_target_service_prefix if zfs_scope != 'global' else 'global'}}"
    zfs_target_suffix: "{{imbude_bindpoints_volume.bindpoint.dest | default(imbude_bindpoints_volume.volume_name)}}"
  block:
  - name: Create zfs dataset for service
    vars:
      zfs_permission_defaults: "{{service_imbude_defaults.network_bindpoints.defaults.permissions}}"
      zfs_permissions: "{{imbude_bindpoints_volume.bindpoint.permissions | default(zfs_permission_defaults)}}"
      zfs_worker_permission: "{{zfs_permissions.workers | default(zfs_permission_defaults.workers)}}"
      zfs_manager_permission: "{{zfs_permissions.managers | default(zfs_permission_defaults.managers)}}"
      zfs_local_lan_permission: "{{zfs_permissions.local_lan | default(zfs_permission_defaults.local_lan)}}"
      zfs_global_lan_permission: "{{zfs_permissions.global_lan | default(zfs_permission_defaults.global_lan)}}"
      zfs_rw_permission: "{{((groups['docker_swarm_workers'] if zfs_worker_permission == 'write' else []) + (groups['docker_swarm_managers'] if zfs_manager_permission == 'write' else []) + ([local_lan_network] if zfs_local_lan_permission == 'write' else []) + ([global_lan_network] if zfs_global_lan_permission == 'write' else [])) | join(',rw=@')}}"
      zfs_ro_permission: "{{((groups['docker_swarm_workers'] if zfs_worker_permission == 'read' else []) + (groups['docker_swarm_managers'] if zfs_manager_permission == 'read' else []) + ([local_lan_network] if zfs_local_lan_permission == 'read' else []) + ([global_lan_network] if zfs_global_lan_permission == 'read' else [])) | join(',ro=@')}}"
    zfs:
      name: "dockerstore/{{nfs_namespace}}/{{zfs_target_prefix}}/{{zfs_target_suffix}}"
      state: present
      extra_zfs_properties:
        sharenfs: "sec=sys{{',rw=@' ~ zfs_rw_permission if (zfs_rw_permission | length) > 1 else ''}}{{',ro=@' ~ zfs_ro_permission if (zfs_ro_permission | length) > 1 else ''}}{{'rw=@localhost,ro=@localhost' if ((zfs_rw_permission~zfs_ro_permission) | length) <= 2 else ''}}"
    when: imbude_bindpoints_volume.create | default(True)
      
    delegate_to: "{{groups['nas'][0]}}"
    delegate_facts: true
  - name: Set zfs dataset permissions
    file:
      path: "/dockerstore/{{nfs_namespace}}/{{zfs_target_prefix}}/{{zfs_target_suffix}}"
      state: "directory"
      #todo: make not shit.
      mode: "777"
    delegate_to: "{{groups['nas'][0]}}"
    delegate_facts: true
  #this is here rather then in the compose file so we can support changing volume settings after the fact.
  - name: Create docker nfs mount named volume on all nodes
    docker_volume:
      recreate: options-changed
      #even if two services use the same bindpoint, we give each their own "named volume" for easier management
      name: "NFS-{{stack_name}}-{{imbude_bindpoints_service.service_name}}-{{imbude_bindpoints_volume.volume_name}}-{{imbude_bindpoints_service.revision | default(service_imbude_defaults.network_bindpoints.defaults.revision)}}"
      driver_options:
        type: "nfs"
        o: "addr={{groups['nas'][0]}},nolock,soft,rw"
        device: ":{{nfs_zfs_dockerstore_directory}}/{{nfs_namespace}}/{{zfs_target_prefix}}/{{zfs_target_suffix}}"
    delegate_to: "{{item}}"
    delegate_facts: true
    loop: "{{groups['docker_swarm_nodes']}}"
