- hosts: docker_swarm_managers
  run_once: True
  roles:
    - docker_swarm_create

- name: Traefik-hub Config Deployment
  hosts: docker_swarm_nodes
  tasks:
    - name: Create config folder
      file:
        path: "/etc/ansible-managed/docker_volumes/traefik-hub/conf.d/"
        state: directory
    - name: template main config
      template:
        src: "traefikhub/traefikhub-main-config.yml.j2"
        dest: "/etc/ansible-managed/docker_volumes/traefik-hub/conf.d/01-main.yml"
        lstrip_blocks: true
      notify:
        - Restart Traefik-hub
    - name: template sandbox config
      template:
        src: "traefikhub/traefikhub-sandbox-config.yml.j2"
        dest: "/etc/ansible-managed/docker_volumes/traefik-hub/conf.d/21-sandbox.yml"
        lstrip_blocks: true
      notify:
        - Restart Traefik-hub
  
  handlers:
    - name: Restart Traefik-hub
      shell: |
        sleep 60
        docker service update --force traefik-hub_traefik
      delegate_to: "{{ groups['docker_swarm_managers'][0] }}"
      run_once: True

- hosts: docker_swarm_workers
  roles:
    - docker_swarm_join_workers
    
- name: Traefik-hub Deployment
  hosts: docker_swarm_managers
  run_once: True
  roles:
    - traefik_hub
